.here {
  background-color: #0066CC;
  text-decoration-line: none;
}

.nothere {
  color: initial;
  text-decoration-line: none;
}

.link {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
}

.link:hover {
  background-color: white;
  color: black;
}

.logoContainer {
  margin: 5ch auto;
  display: flex;
  justify-content: center;
}

.logOut {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 18px;
  color: #fff;
  display: block;
  width: 100%;
  text-align: left;
}

.logOut:hover{
  background-color: white;
  color: black;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 25%;
  margin: 5px;
}

.freepik {
  text-decoration: underline;
}

.freepik:hover,
.freepik:focus {
  color: #0066CC;
}